{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
    <a href="#" onclick="window.history.back();">{% trans 'back' as rel %}{{ rel|title }}</a>

    <p>
    {% if movies|length %}
        {% trans 'added' as rel %}{{ rel|title }} {{ movies|length }} {% trans 'items' %}.
    {% else %}
        {% trans 'No new items were found' %}
    {% endif %}
    </p>

    {% if failed|length %}
    <p>{% trans 'failed' as rel %}{{ rel|title }}:</p>
    <ul>
        {% for title, link in failed %}
        <li><strong>{{ title }}</strong>: <a href="http://pckisz.pl{{ link }}">http://pckisz.pl{{ link }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{#    <br><br>#}
{#    {% for item in movies %}#}
{#        <ul>#}
{#            {% for name, value in item %}#}
{#                <li><strong>{{ name }}</strong> => <pre>{{ value }}</pre></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        <br>#}
{#    {% endfor %}#}
{% endblock %}
